In [1]:
!pip install yfpy --quiet

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda 23.9.0 requires ruamel-yaml<0.18,>=0.11.14, but you have ruamel-yaml 0.18.6 which is incompatible.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

/Users/kevincoyle/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
asylum_2020_df = pd.read_parquet("./data/asylum-2020-results.parquet")

In [4]:
asylum_2020_df

,Rank,Team,W-L-T,Pts For,Pts Agnst,Streak,Waiver,Moves
0,*1,logo 4th and 20,9-4-0,1589.92,1443.32,W-1,11,27
1,*2,logo Día de Muerte,9-4-0,1535.82,1417.54,W-1,12,90
2,*3,logo Password is Taco,8-5-0,1411.46,1346.78,W-3,2,4
3,*4,logo L.O.P.,8-5-0,1560.30,1466.76,W-3,9,22
4,*5,logo Wheel Snipe Celly,7-6-0,1536.48,1421.98,L-3,10,11
5,*6,logo Wolfpack,7-6-0,1520.70,1451.26,W-3,8,39
6,7,logo Jellyz,4-9-0,1427.60,1543.56,L-3,3,12
7,8,logo Ladies and Edelman,6-7-0,1511.18,1557.02,L-4,7,51
8,9,logo DOWNTOWN BROWN,3-10-0,1321.46,1593.56,L-1,5,7
9,10,logo Merk squad,6-7-0,1471.22,1554.58,W-2,1,19
10,11,logo Lee's Legendary Team,6-7-0,1465.04,1394.36,L-1,4,33
11,12,logo Baby Chark,5-8-0,1368.40,1528.86,L-3,6,31

In [8]:
#week_1_matchup = pd.read_html("https://football.fantasysports.yahoo.com/f1/479598/matchup?week=1&mid1=9")
# Pandas can't find a table, better go with selenium

In [89]:
from selenium import webdriver
from time import sleep

driver = webdriver.Firefox()
sleep(3)
driver.get("https://football.fantasysports.yahoo.com/f1/479598/matchup?week=1&mid1=9")

In [90]:
kev_matchup_table = driver.find_element_by_xpath('//*[@id="statTable1"]')

In [91]:
kev_matchup_table.screenshot("assets/week1matchup.png")

True

<img src="assets/week1matchup.png">

Let's get that into a pandas df

In [92]:
week_1_matchup_df = pd.read_html(driver.page_source)[1]

In [94]:
week_1_matchup_df

,Stats,Player,Proj,Fan Pts,Pos,Unnamed: 5,Pos.1,Fan Pts.1,Proj.1,Player.1,Stats.1
0,"4 Pass TD, 254 Pass Yds, 9 Rush Yds",Player Note R. Wilson Sea - QB IR Final W 28...,25.30,31.06,QB,QB,QB,37.42,23.92,No new player Notes D. Prescott Dal - QB Fina...,"403 Pass Yds, 3 Pass TD, 1 Int"
1,"35 Rec Yds, 6 Rec",New Player Note A. Robinson II Chi - WR Final...,12.24,6.50,WR,WR,WR,32.40,13.66,Player Note A. Cooper Dal - WR Final L 29-31 ...,"139 Rec Yds, 2 Rec TD, 13 Rec"
2,"80 Rec Yds, 6 Rec, 14 Rush Yds",Player Note D. Moore Car - WR Final W 19-14 v...,12.85,12.40,WR,WR,WR,0.00,12.38,Player Note B. Aiyuk SF - WR Final W 41-33 @ Det,NaN
3,"72 Rec Yds, 6 Rec",New Player Note J. Jeudy Den - WR IR-R Final...,12.58,10.20,WR,WR,WR,1.90,11.49,Player Note C. Sutton Den - WR Final W 27-13 ...,"14 Rec Yds, 1 Rec"
4,"98 Rush Yds, 89 Rec Yds, 9 Rec",Player Note C. McCaffrey Car - RB IR Final W...,23.39,23.20,RB,RB,RB,9.20,18.89,Player Note D. Henry Ten - RB Final L 13-38 v...,"58 Rush Yds, 19 Rec Yds, 3 Rec"
5,"91 Rush Yds, 26 Rec Yds, 1 Fum Lost",Player Note C. Carson Sea - RB IR Final W 28...,14.97,11.20,RB,RB,RB,3.20,14.70,Player Note S. Barkley NYG - RB O Final L 13...,"26 Rush Yds, 1 Rec, 1 Rec Yds"
6,"1 Rec TD, 42 Rec Yds, 4 Rec",Player Note D. Goedert Phi - TE COVID-19 Fin...,9.03,12.20,TE,TE,TE,21.50,13.19,Player Note D. Waller LV - TE Final W 33-27 v...,"105 Rec Yds, 1 Rec TD, 10 Rec"
7,"1 Rush TD, 33 Rush Yds, 28 Rec Yds",New Player Note K. Hunt Cle - RB Q Final L 2...,12.48,15.60,W/R/T,W/R/T,W/R/T,16.10,11.53,No new player Notes D. Chark Jr. Jax - WR IR ...,"86 Rec Yds, 1 Rec TD, 3 Rec"
8,"1 FG 50+, 1 FG 30-39, 3 PAT Made",No new player Notes D. Carlson LV - K Final W...,8.55,11.00,K,K,K,12.00,8.64,No new player Notes G. Zuerlein Dal - K Final...,"1 FG 40-49, 1 FG 20-29, 1 FG 30-39"
9,"2 Sack, 1 Int, 1 Fum Rec",No new player Notes Kansas City KC - DEF Fina...,6.09,5.00,DEF,DEF,DEF,5.00,6.93,No new player Notes Baltimore Bal - DEF Final...,"3 Sack, 1 Int"
10,NaN,NaN,137.48,138.36,Total,TOTAL,Total,138.72,135.33,NaN,NaN

column cleanup

In [96]:
week_1_matchup_df.columns = ['Stats', 'Player', 'Proj', 'Fan_Pts', 'Pos', 'Unnamed: 5', 'oppos_Pos',
       'oppos_Fan_Pts', 'oppos_Proj', 'oppos_Player', 'oppos_Stats']

In [98]:
week_1_matchup_df.drop("Unnamed: 5",axis=1, inplace=True)

In [99]:
week_1_matchup_df.head(1)

,Stats,Player,Proj,Fan Pts,Pos,oppos_Pos,oppos_Fan_Pts,oppos_Proj,oppos_Player,oppos_Stats
0,"4 Pass TD, 254 Pass Yds, 9 Rush Yds",Player Note R. Wilson Sea - QB IR Final W 28...,25.3,31.06,QB,QB,37.42,23.92,No new player Notes D. Prescott Dal - QB Fina...,"403 Pass Yds, 3 Pass TD, 1 Int"

Now, let's get the rest of the league. Pandas creates tables, so this next line will tell me how many tables pandas "sees" in the source code

In [93]:
len(pd.read_html(driver.page_source))

35

Shit. okay so pandas thinks there's 35 tables in the source, which means I have to look at 35 table and figure out which one is the correct matchup table. Index number 1 was my table, I'm assuming the last one is the matchup. For reference, this is the table I'm looking for:

In [55]:
all_matchups = driver.find_element_by_xpath('//*[@id="yui_3_18_1_2_1634493794490_1966"]')
all_matchups.screenshot('assets/allmatchupsweek1.png')

True

<img src = 'assets/allmatchupsweek1.png'>

In [100]:
pd.read_html(driver.page_source)[34]

  Kevin View Profile              Category Ken View Profile
0             Bronze                 Level         Platinum
1          551 (-5)†        Current Rating       826 (+18)†
2          171-226-1        Record (W-L-T)        134-104-0
3               .431             Winning %             .563
4                  6          Trophies Won                3
5                  0  First Place Trophies                1
6       Bronze (11x)    Best Season Finish    Platinum (3x)
7               2007       Playing Since *             2013
8                 27         Teams Managed               17

And after looking at every table, it turns out that pandas doesn't even see this matchups table as a table. I'll use beautiful soup to parse it instead.

In [101]:
from bs4 import BeautifulSoup

In [105]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [1]:
# print(driver.page_source[:100])

In [109]:
for i in soup.find_all(name="section", attrs={"class":"No-m No-pend Submod Selected"}):
    print(i.text)



                Week 1 Matchups


Final results

View Matchup





138.36





Password is Taco
0-5-0  | 12th








                    vs






138.72






Gotta be starting Sutton
4-1-0  | 2nd







View Matchup





122.38





Wolfpack
3-2-0  | 6th








                    vs






152.06






4th and 20
2-3-0  | 9th







View Matchup





114.88





DOWNTOWN BROWN
3-2-0  | 5th








                    vs






73.22






Jellyz
1-4-0  | 11th







View Matchup





120.36





La Cosa Nostra
2-3-0  | 10th








                    vs






94.38






Hasta Laviska Baby!
2-3-0  | 8th







View Matchup





120.36





L.O.P.
3-2-0  | 3rd








                    vs






137.58






Merk squad
5-0-0  | 1st







View Matchup





134.70





Lee's Legendary Team
2-3-0  | 7th








                    vs






136.10






Wheel Snipe Celly
3-2-0  | 4th

It's like   
         broetry.

In [113]:
matchups_df = pd.DataFrame()

In [164]:
text_only = ''
for i in soup.find_all(name="section", attrs={"class":"No-m No-pend Submod Selected"}):
    #print(i.text)
    #matchups_df.loc[len(matchups_df), "columnname"] = i.text
    value = i.text.replace("\n", "")
    value = value.replace(" ", "")
    #if not i.text.isspace():
    #    text_only += i.text
    matchups_df.loc[len(matchups_df), "column"] = value

In [165]:
matchups_df

,columnname,column
0,\n\n\n \n\n Week 1 ...,NaN
1,NaN,Week1MatchupsFinalresultsViewMatchup138.36Pas...

In [158]:
print(text_only.replace("\n", ''))

                            Week 1 Matchups            Final results View Matchup138.36Password is Taco0-5-0  | 12th                     vs                138.72 Gotta be starting Sutton4-1-0  | 2ndView Matchup122.38Wolfpack3-2-0  | 6th                     vs                152.06 4th and 202-3-0  | 9thView Matchup114.88DOWNTOWN BROWN3-2-0  | 5th                     vs                73.22 Jellyz1-4-0  | 11thView Matchup120.36La Cosa Nostra2-3-0  | 10th                     vs                94.38 Hasta Laviska Baby!2-3-0  | 8thView Matchup120.36L.O.P.3-2-0  | 3rd                     vs                137.58 Merk squad5-0-0  | 1stView Matchup134.70Lee's Legendary Team2-3-0  | 7th                     vs                136.10 Wheel Snipe Celly3-2-0  | 4th

In [121]:
table = soup.find(name="section", attrs={"class":"No-m No-pend Submod Selected"})

In [160]:
stuff = table.get_text().replace("\n", "")

In [163]:
stuff.replace(" ", "")

"\ue225Week1MatchupsFinalresultsViewMatchup138.36PasswordisTaco0-5-0|12thvs138.72GottabestartingSutton4-1-0|2ndViewMatchup122.38Wolfpack3-2-0|6thvs152.064thand202-3-0|9thViewMatchup114.88DOWNTOWNBROWN3-2-0|5thvs73.22Jellyz1-4-0|11thViewMatchup120.36LaCosaNostra2-3-0|10thvs94.38HastaLaviskaBaby!2-3-0|8thViewMatchup120.36L.O.P.3-2-0|3rdvs137.58Merksquad5-0-0|1stViewMatchup134.70Lee'sLegendaryTeam2-3-0|7thvs136.10WheelSnipeCelly3-2-0|4th"

In [166]:
#pd.DataFrame(stuff)